CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
[bB][uU][iI][lL][dD]
[bB][uU][iI][lL][dD][dD][iI][rR]
.vs
vcpkg
.cache
imgui.ini
!assets/imgui.ini
logs
.vscode
subprojects/*
!subprojects/*.wrap
!subprojects/imgui/
